@import "tailwindcss";

/* Light Theme */
:root {
  --bg-body: #ffffff;
  --text-body: #0f172a;
  
  --card-bg: #f8fafc;
  --card-border: #e2e8f0;
  --text-heading: #1e293b;
  --text-muted: #475569;
  --star-empty: #cbd5e1;

  --nav-bg: linear-gradient(
    90deg,
    rgba(240, 249, 255, 0.95),
    rgba(224, 242, 254, 0.95),
    rgba(238, 242, 255, 0.95)
  );

  --nav-text: #0f172a;

  --btn-primary: #4f46e5;
  --btn-primary-hover: #4338ca;
}

/* Dark Theme */
[data-theme="dark"] {
  --bg-body: #0b1120;
  --text-body: #ffffff;
  
  --card-bg: rgba(15, 23, 42, 0.4);
  --card-border: rgba(255, 255, 255, 0.05);
  --text-heading: #ffffff;
  --text-muted: #94a3b8;
  --star-empty: #334155;

  --nav-bg: linear-gradient(
    90deg,
    rgba(2, 6, 23, 0.95),
    rgba(15, 23, 42, 0.95),
    rgba(30, 41, 59, 0.95)
  );

  --nav-text: #e2e8f0;

  --btn-primary: #4f46e5;
  --btn-primary-hover: #4338ca;
}

/* Body */
body {
  background: var(--bg-body);
  color: var(--text-body);
  transition: all 0.3s ease;
}

.dynamic-heading {
  color: var(--text-heading);
  transition: color 0.3s ease;
}

.dynamic-muted-text {
  color: var(--text-muted);
  transition: color 0.3s ease;
}

.dynamic-card {
  background: var(--card-bg);
  border: 1px solid var(--card-border);
  color: var(--text-body);
  transition: all 0.3s ease;
}

.star-inactive {
  color: var(--star-empty);
}

/* Navbar */
.nav-bg-gradient {
  background: var(--nav-bg);
  backdrop-filter: blur(18px);
}

.nav-border-gradient {
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

/* Slide animation */
.slide-in {
  animation: slideIn 0.3s ease forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Footer */
footer {
  background: var(--nav-bg);
  color: var(--nav-text);
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  margin-top: auto; 
}

/* Banner-swiper */
.swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.25) !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: #4f46e5 !important;
  width: 26px !important;
  border-radius: 9999px !important;
  transition: all 0.3s ease;
}